edit:
  command: code
  args:
  - --wait

diff:
  exclude:
  - scripts

data:
  name: {{ promptStringOnce . "name" "What is your full name" }}
  email: {{ promptStringOnce . "email" "What is your email address" }}
  idealo: {{ promptBoolOnce . "idealo" "Include idealo specific configuration"}}
