[user]
  name = {{ .name }}
  email = {{ (onepasswordItemFields "GitHub SSH Signing Key" "Private" "my").email.value }}
  signingkey = {{ (onepasswordDetailsFields "GitHub SSH Signing Key" "Private" "my").public_key.value }}

[core]
  excludesfile = ~/.gitignore

[gpg]
  format = ssh

[commit]
  gpgsign = true

[tag]
  gpgsign = true

[pull]
  rebase = true

[rebase]
  autostash = true

[advice]
  skippedcherrypicks = false

[help]
  autocorrect = 10
