{{- if .idealo -}}
[user]
  email = {{ (onepasswordItemFields "GitHub Signing Key" "Private" "idealo").email.value }}
  signingkey = {{ (onepasswordDetailsFields "GitHub Signing Key" "Private" "idealo").public_key.value }}
{{- end }}
