{{- if .idealo -}}
[user]
  email = {{ onepasswordRead "op://Private/GitHub Signing Key/email" "idealo" }}
  signingkey = {{ onepasswordRead "op://Private/GitHub Signing Key/public_key" "idealo" }}
{{- end }}
