[user]
  name = {{ .name }}
  email = {{ .email }}

[core]
  excludesfile = ~/.gitignore

[commit]
  gpgsign = true

[tag]
  gpgsign = true

[pull]
  rebase = true

[rebase]
  autostash = true

[help]
  autocorrect = 10
